/**
regular 400
medium 500
semi-bold 600
bold 700
**/

* {
    font-family: 'Exo 2', sans-serif;
}

main {
    @extend %displayFlexDefault;
    height: 100vh;

    .content {
        @extend %displayFlexDefault;
        width: 85vw;
        text-align: justify;
        text-align-last: center;

        h1, h2 {
            text-align: center;
        }

        div.AnimationPizza {
            @extend %displayFlexDefault;
            flex-direction: row;
            height: 25vh;
            width: 75%;
            animation: AnimationPizzaTroisQuart 1.75s linear;

            img {
                height: 100%;

                &:first-child {
                    animation: AnimationPizzaQuart 1.5s linear;
                }
            }
        }

        div.Speciaux {
            @extend %displayFlexDefault;
            flex-direction: row;
            display: grid;
            grid-template-columns: auto auto auto;
            height: 25vh;
            width: 75%;
            margin-top: 3vh;

            img {
                height: 100%;
                padding-left: 1.5vw;
                padding-right: 1.5vw;

                &:first-child {
                    animation: AnimationPizzaSpeciaux1 3s linear;
                }

                &:nth-child(2) {
                    animation: AnimationPizzaSpeciaux2 3s linear;
                }

                &:nth-child(3) {
                    animation: AnimationPizzaSpeciaux3 3s linear;
                }
            }
        }

        a {
            color: $black;
            font-weight: bold;
            font-size: 2vw;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
    }
}

//Animation de la première pizza qui a un spécial
@keyframes AnimationPizzaSpeciaux1 {
    from {
        transform: translateX(-45vw) rotate(0deg);
    }
    85% {
        transform: translateX(5vw) rotate(300deg);
    }
    to {
        transform: translateX(0) rotate(360deg);
    }
}

//Animation de la deuxième pizza qui a un spécial
@keyframes AnimationPizzaSpeciaux2 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

//Animation de la troisième pizza qui a un spécial
@keyframes AnimationPizzaSpeciaux3 {
    from {
        transform: translateX(45vw) rotate(360deg);
    }
    85% {
        transform: translateX(-5vw) rotate(60deg);
    }
    to {
        transform: translateX(0) rotate(0deg);
    }
}

//Animation du quart de la pizza
@keyframes AnimationPizzaQuart {
    from {
        transform: translateX(-25vw) translateY(0vh) rotate(0deg);
    }
    25% {
        transform: translateX(-15vw) translateY(10vh) rotate(90deg);
    }
    50% {
        transform: translateX(-10vw) translateY(-10vh) rotate(180deg);
    }
    75% {
        transform: translateX(-5vw) translateY(-2vh) rotate(270deg);
    }
    to {
        transform: translateX(0) translateY(0vh) rotate(360deg);
    }
  }

//Animation des trois quarts de la pizza
@keyframes AnimationPizzaTroisQuart {
    from {
        transform: scaleX(1);
    }
    90% {
        transform: scaleX(1);
    }
    95% {
        transform: scaleX(1.1);
    }
    to {
        transform: scaleX(1);
    }
  }


  /* ----------------------------------------- */
/* ---------- Elements Tablette ---------- */
/* ----------------------------------------- */
@include TabletPortrait {
    main {
        height: auto;

        .content 
        {
            div.AnimationPizza {
                height: auto;
                margin-top: 5vh;
                padding-top: 2.5vh;
                padding-bottom: 2.5vh;

                img {
                    width: 22.5vw;
                }

                img:first-child {
                    width: 7.5vw;
                }
            }

            div.Speciaux {
                width: auto;
                grid-template-columns: auto;
                height: auto ;

                img {
                    height: auto;
                    width: 32.5vw;
                    padding: 1.5vw;
                }
            }
        }
    }

    //Animation de la première pizza qui a un spécial
    @keyframes AnimationPizzaSpeciaux1 {
        from {
            transform: translateX(-45vw) rotate(0deg);
        }
        to {
            transform: translateX(0) rotate(360deg);
        }
    }

    //Animation de la troisième pizza qui a un spécial
    @keyframes AnimationPizzaSpeciaux3 {
        from {
            transform: translateX(45vw) rotate(360deg);
        }
        to {
            transform: translateX(0) rotate(0deg);
        }
    }
}


/* ----------------------------------------- */
/* ----------- Elements Mobile ----------- */
/* ----------------------------------------- */
@include MobilePortrait {
    main {
        .content 
        {
            div.AnimationPizza {
                padding-top: 5vh;
                padding-bottom: 5vh;

                img {
                    width: 37.5vw;
                }

                img:first-child {
                    width: 12.5vw;
                }
            }

            div.Speciaux {
                img {
                    width: 65vw;
                }
            }
        }
    }
}

/************* CSS pour le caroussel *************/

.slider {
    width: 100vw;
    height: 60vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;

    .slide {
        width: 100%;
        height: 100%;

        flex-shrink: 0;

        -webkit-overflow-scrolling: touch;
        
        @extend %displayFlexDefault;

        div {

            scroll-behavior: smooth;

        }

        img {
            width: 100%;

            scroll-snap-align: start;
        }
    }
}