/**
regular 400
medium 500
semi-bold 600
bold 700
**/

* {
    font-family: 'Exo 2', sans-serif;
}

main {
    @extend %displayFlexDefault;
    height: 100vh;

    .content {
        @extend %displayFlexDefault;
        width: 85vw;
        text-align: justify;
        text-align-last: center;

        div.AnimationPizza {
            @extend %displayFlexDefault;
            flex-direction: row;
            height: 25vh;
            width: 75%;
            animation: AnimationPizzaTroisQuart 1.75s linear;

            img {
                height: 100%;

                &:first-child {
                    animation: AnimationPizzaQuart 1.5s linear;
                }
            }
        }

        div.SpeciauxBandroleConteneur {
            display: flex;
            flex-direction: row;
            width: 55%;
            height: 10vh;
        }

        div.SpeciauxBandrole {
            @include SpeciauxPizza();
            margin: 0 auto;

            div {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    text-align: center;
                    margin: 0 auto;
                    justify-content: center;
                    padding-top: 1em;
                    color: white;
                    font-weight: bold;
                    font-size: 1.25em;
                }
            }
        }

        div.Speciaux {
            @extend %displayFlexDefault;
            flex-direction: row;
            display: grid;
            grid-template-columns: auto auto auto;
            height: 25vh;
            width: 75%;
            margin-top: 3vh;

            img {
                height: 100%;
                padding-left: 1.5vw;
                padding-right: 1.5vw;
            }
        }
    }
}

//Animation du quart de la pizza
@keyframes AnimationPizzaQuart {
    from {
        transform: translateX(-25vw) translateY(0vh) rotate(0deg);
    }
    25% {
        transform: translateX(-15vw) translateY(10vh) rotate(90deg);
    }
    50% {
        transform: translateX(-10vw) translateY(-10vh) rotate(180deg);
    }
    75% {
        transform: translateX(-5vw) translateY(-2vh) rotate(270deg);
    }
    to {
        transform: translateX(0) translateY(0vh) rotate(360deg);
    }
  }

//Animation des trois quarts de la pizza
@keyframes AnimationPizzaTroisQuart {
    from {
        transform: scaleX(1);
    }
    90% {
        transform: scaleX(1);
    }
    95% {
        transform: scaleX(1.1);
    }
    to {
        transform: scaleX(1);
    }
  }