/**
regular 400
medium 500
semi-bold 600
bold 700
**/

* {
    font-family: 'Exo 2', sans-serif;
}

main {
    @extend %displayFlexDefault;

    height: 100vh;

    .content {
        @extend %displayFlexDefault;

        width: 85vw;

        text-align: justify;
        text-align-last: center;
    }
}

/************* CSS pour le caroussel *************/

.slider {
    width: 100vw;
    height: 60vh;
    display: flex;
    overflow-x: auto;

    scroll-snap-type: x mandatory;

    .slide {
        width: 100%;
        height: 100%;

        flex-shrink: 0;

        -webkit-overflow-scrolling: touch;
        
        @extend %displayFlexDefault;

        div {

            scroll-behavior: smooth;

        }

        img {
            width: 100%;

            scroll-snap-align: start;
        }
    }
}