/*!
Auteur: Jordan Lapointe
Description: TP1
Version: 1.0.0
License: GNU General Public License v2 or later

*/

/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# Normalize
# Variables
# Mixins
# Layout
# Navigation
# Typography
# Entete
# Pied-page
# Elements
----------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "_normalize.scss";
/* ------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "_variables.scss";
/* ------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
@import "_mixins.scss";
/* ------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "_layout.scss";
/* ------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "_navigation.scss";
/* ------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "_typography.scss";
/* ------------------------------------------------------------
# Entete
--------------------------------------------------------------*/
@import "_entete.scss";
/* ------------------------------------------------------------
# Pied-page 
--------------------------------------------------------------*/ 
@import "_pied-page.scss";
/* ------------------------------------------------------------
# Elements
----------------------------------------------------------------*/
 @import "_elements.scss";
/*-------------------------------------------------------------- */